<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>


<% @students.each do |student| %>
  <h2>

    <%= student.name %>
  </h2>
  <p>
    Age:
    <%= student.age %>
  </p>
  <p>
    Student ID:
    <%= student.id %>
  </p>
  <p>
    School Id:
    <%= student.school_id %>
  </p>


<% end %>
