<body>

  <span id="teacher-index-display">
  </span>

  <section class="content-right">

    <aside>
      <div class='side-items'>
        <p class="read-more">Welcome Admin</p>
        <%= form_for(:teacher, :url => {:action => 'create'}) do |f| %>
          <% render(:partial => "form", :locals => {:f => f}) %>
        <% end %>
      </div>
    </aside>

    <article>
    </article>

  </section>

</body>
