<h1>Teachers#index</h1>
<p>Find me in app/views/teachers/index.html.erb</p>

<% @teachers.each do |teacher| %>
  <h2>

    <%= teacher.name %>
  </h2>
  <p>
    Age:
    <%= teacher.age %>
  </p>
  <p>
    Teacher ID:
    <%= teacher.id %>
  </p>
  <p>
    School Id:
    <%= teacher.school_id %>
  </p>


<% end %>
