<body>

  <span id="teacher-index-display">
  </span>

  <section class="content-right">

    <aside>
      <div class='side-items'>
        <p class="read-more">Welcome Admin</p>
      </div>
    </aside>

    <article>
    </article>

  </section>

</body>
