<h1>Teachers#show</h1>
<p>Find me in app/views/teachers/show.html.erb</p>
body>
  <span id="teacher-show-display">
  </span>
  <section class="content-left">
    <div id="teacher-show-students">
      <article>
      </article>
      <aside>
        <div class='side-items'>
        </div>
      </aside>
    </div>
  </section>
</body>
