<body>

  <span id="school-show-display">
    <h1><%= @school.name %></h1>
  </span>

  <section class="content-left">

    <div id="school-show-info">
      <article>
        <div class='items'>
          <p>School Motto: <%= @school.motto %></p>
          <p>School Location: <%= @school.location %></p>
        </div>
      </article>
      <aside>
        <div class='side-items'>
        </div>
      </aside>
    </div>

  </section>

</body>
