html {
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #7d7d7d !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: 40em !default;
  $base-font-color: $dark-gray !default;
  $sans-serif: "Open Sans", sans-serif;
  $sans-serif-2: "Roboto", sans-serif;
  }
