// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#teacher-show-display {
  position: relative;
  display: block;
  text-align: center;
  background-color: #ffffff;
  border-style: solid;
  border-width: 0 0 0.5px 0;
  border-color: #e9e9e9;
  margin-bottom: 2em;
  padding-top: 4em;
}
